@mixin container {
  width: 1024px;
  margin: 0 auto;
}

@mixin container-content {
  height: auto;
  min-height: 100vh;
  padding: 0 10px;
  @include position-center;
}

@mixin video-background {
  position: fixed;
  right: 0;
  top: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -999;
}

@mixin position-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin espacamento {
  display: flex;
  justify-content: space-between;
}

@mixin title {
  font-size: 2.25em;
  font-weight: 500;
}

@mixin sub-title {
  font-size: 1.75em;
  font-weight: 500;
  color: black;
}

@mixin texto {
  line-height: 1.75em;
  font-size: 1.20em;
}

@mixin bf-azul {
  background-color:$color-main;
  border: 1px solid white;
}

@mixin bf-dourado {
  background-color: #856629;
  border: 1px solid white;
}