@import './normalize';
@import './reset';
@import './variables';
@import './mixins';

body {
  font-family: $font-main;
  color: $font-color-main;
}

:visited {
  color: $font-color-main;
}

a {
  text-decoration: none;
}

.container {
  @include container;
}

.cabecalho {
  background-color: rgba(26, 45, 75, 0.75);
  width: 100%;
  height: 75px;
  position: fixed;
  .container {
    display: flex;
    justify-content: space-between;
    h1 {
      margin-top: 21.5px;
      font-size: 2em;
      font-weight: 500;
      text-transform: uppercase;
      color: white;
    }
  }
}

.navegacao {
  .menu {
    .list-menu {
      display: flex;
      li {
        a {
          @include position-center;
          width: 175px;
          height: 75px;
          font-size: 1.25em;
          &:hover {
            background-color: $color-main;
            height: 100px;
            animation-duration: 2s;
          }
        }
      }
    }
  }
}

.video-fundo  {
  #myVideo {
    @include video-background;
  }
}

.home {
  display: none;
  .container {
    @include container-content;
    .content-home::before {
      display: block;
      content: '';
      width: 780px;
      height: 450px;
      background-color: white;
      position: relative;
      z-index: -998;
      top: 495px;
      left: -15px;
    }
    .content-home {
      display: block;
      position: relative;
      top: -200px;
      width: 750px;   
      h1 {
        @include title;
        @include bf-dourado;
        padding: 30px 20px;
        text-align: center;
      }
      .content-home-text {
        @include bf-azul;
        padding: 20px 50px;
        p {
          @include texto;
          margin: 40px 0;
          a {
            color: #3f97c9;
          }
        }
      }
    }
  }
}

.about {
  display: none;
  padding-top: 400px;
  .container {
    @include container-content;
  }
}

.about-one {
  display: flex;
  justify-content: space-between;
  .content-about-one {
    width: calc(50% - 25px);
    h1 {
      @include sub-title;
      background-color: white;
      color: black;
      font-size: 1.75em;
      font-weight: 500;
      padding: 20px 40px;
      height: 75px;
    }
    p {
      @include texto;
      @include bf-azul;
      width: calc(100% - 100px);
      margin: 0 auto;
      padding: 40px;
      position: relative;
      top: -50px;
      z-index: -998;
    }
  }
}

.about-two {
  display: flex;
  justify-content: space-between;
  .content-about-two {
    width: calc(50% - 25px);
    color: black;
    background-color: white;
    h1 {
      @include sub-title;
      padding: 40px 40px 10px 40px;
    }
    p {
      @include texto;
      padding: 10px 40px 40px 40px;
    }
  }
}

.about-three {
  display: flex;
  justify-content: space-between;
  .content-about-three {
    width: calc(33.33% - 15px);
    p {
      @include texto;
      padding: 30px 40px;
      margin: 20px 0;
      height: calc(250px - 80px);
    }
    .cor-1 {
      @include bf-azul;
    }
    .cor-2 {
      @include bf-dourado;
    }
    .cor-3 {
      background-color: white;
      color: black;
    }
  }
}

.gallery {
  padding-top: 500px;
  .container {
    @include container-content;
    .content-gallery {
      display: flex;
      flex-wrap: wrap;
      .first-gallery, .second-gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .quadro-branco-first {
        display: block;
        width: 50%;
        height: 138px;
        background-color: white;
        position: relative;
        z-index: -998;
        bottom: -178px;
        right: 20px;
      }
      .title-gallery{
        display: block;
        width: calc(100% - 80px);
        height: 138px;
        background-color: white;
        margin: 50px 0;
        h1 {
          @include title;
          @include bf-azul;
          width: calc(100% - 20px);
          padding: 40px;
          position: relative;
          top: 10px;
          left: 20px;
        }
      }
      .img-group-one {
        width: calc(33.33% - 30px);
        height: 225px;
        padding: 10px;
        background-color: white;
        margin: 10px 0;
      }
      .img-group-two {
        width: calc(50% - 15px);
        height: 250px;
        margin: 10px 0;
      }
      .img-group-three {
        width: calc(25% - 20px);
        height: 225px;
        margin: 10px 0;
      }
    }
  }
}