@import './normalize';
@import './reset';
@import './variables';
@import './mixins';
@import './header';
@import './home';
@import './about';
@import './gallery';
@import './contact';
@import './footer';
@import './animation-pages';

* {
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  color: $font-color-main;
}

:visited,
:link {
  color: $font-color-main;
}

a {
  text-decoration: none;
}

.container {
  @include container;
}

@media only screen and (max-width: 1023px) {
  .container {
    @include container-768px;
  }  
}

@media only screen and (max-width: 767px) {
  .container {
    @include container-320px;
  }  
}

.video-fundo  {
  #myVideo {
    @include video-background;
  }
}

.menu-section {
  .container {
    @include container-content;
  }
}